@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
$green: #33cc99;
$gold: #ffcc33;
$orange: #ff6633;
$blue: #006699;

h1 {
  font-family: 'Anton';
  color: $blue;
}
.Page {
  background-color: $green;
  font-size: 16px;
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  place-items: center;
  .form  {
    color: ghostwhite;
    font-family: "Quicksand";
    padding-bottom: 10px;
    margin: auto;
  }
  
  .data {
    // border: 2px solid black;
    background-color: $green;
    display: flex;
    flex-wrap: wrap;
    h3 {
      color: $blue;
    }
    .item {
      width: 30%;
      display: flex;
      // border: 2px solid white;
      padding-top: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 400px;
        margin: auto;
        text-align: center;
        font-family: arial;
        button {
          border: 3px solid $gold;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          border-radius: 35px;
          height: 100px;
          width: 300px;
          color: ghostwhite;
          background-color: $orange;
        }
    }
    
  }
  .myRecipes {
    background-color: $green;
    display: flex;
    color: $blue;
    font-family: 'Anton';
    
    .list-items {
      background-color: white;;
      width: 30%;
      display: flex;
      text-align: center;
      border-radius: 1rem;
      padding: 2rem;
      margin-left: -4rem;
      box-shadow: 4px 4px 12px 2px rgba(black, 0.75);
      transition: 0.2s;
      button {
        border-radius: 35px;
        width: 30%;
        background-color: $green;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 400px;
        margin: auto;
        text-align: center;
        font-family: arial;
        }
    }
    
  }
  .myRecipes .list-items:not(:first-child) {
    margin-left: -4rem;
  }
  .myRecipes .list-items:hover {
    transform: translateY(-1rem);
  }
  .myRecipes .list-items:hover ~ .list-items {
    transform: translateX(4rem);
  }
  .ShowPage {
    border: 2px solid black;
    h2 {
      color: $orange;
      .show-cards {
        border: 3px solid yellow;
        
      }
    }
    .updateForm {
      background-color: $green;
    }
    .showpage-button {
      background-color: $blue;
    }
  }

}

.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: $green;
  background-color: $green;
    a {
    color: $green;
  }
}

img {
  width: 50%;
  height: auto;
  .list-images {
    border: 2px solid white;
  }
}
button {
  border: 3px solid $orange;
  border-radius: 25px;
  height: 100px;
  width: 300px;
  color: white;
  background-color: $orange;
  
}
